<% if @message.errors.any? %>
  <h3>Errors</h3>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </ul>
<% end %>

<h1>Send a new message</h1>

<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= f.text_field :to %>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
